/*========================*/
/*MOBILE*/
/*========================*/
body {
  background-color: black;
  background-image: url("images/wavy-orange.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: 0 0;
  color: #f0ffff;
  font-family: "Big Caslon";
  border: 14px double #4e3613;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

h1 {
  text-align: center;
  font-size: 3em;
  color: rgb(205 191 188);
  background-color: #4d2509d1;
  margin-top: 10rem;
  margin: 15rem;
}

section {
  margin: 1.25rem; /* space between sections */
  padding: 1.25rem; /* space around each section*/
}
/* make all section list items the same font size */
section ul li {
  font-size: 1em;
  line-height: 1.5;
}
nav {
  display: flex;
  justify-content: center;
  background: rgb(63 59 5);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding: 0;
  margin: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  display: inline-block;
  font-size: 1 rem;
  color: #f6f3edee;
  padding: 0.5rem 1rem;
  background-color: rgb(63 59 5);
  border-radius: 1rem;
}

#About {
  text-align: center;
  background-color: #8b451396;
  padding: 3rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

#Experience ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 3rem;
  background-color: #8b451396;
  margin-bottom: 10rem;
}

#Skills ul {
  list-style-type: none;
  padding: 3rem;
  background-color: #8b451396;
  margin-bottom: 10rem;
}

#Projects ul {
  list-style-type: none;
  padding: 3rem;
  background-color: #8b451396;
  margin-bottom: 10rem;
}

#Connect ul {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  list-style-type: none;
  flex-wrap: wrap;
  background-color: #8b451396;
  padding: 3rem;
  margin-bottom: 10rem;
}

#Connect a {
  color: rgb(26, 79, 33);
  text-decoration: underline;
  margin-bottom: 8rem;
}

#Message {
  padding: 3rem;
  background-color: #8b451396;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

#Message h2 {
  text-align: center;
}

#Messages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
}

/*========================*/
/*TABLET*/
/*========================*/
@media (min-width: 768px) {
  body {
    font-size: 1.1em;
  }
  h1 {
    font-size: 4em;
    margin-top: 2em;
  }
  header nav ul {
    gap: 2rem;
  }

  #Experience ul {
    flex-direction: column;
  }

  #Connect ul {
    flex-direction: row;
    justify-content: space-evenly;
  }
  /*========================*/
  /*DESKTOP*/
  /*========================*/
  @media (min-width: 1024px) {
    h1 {
      font-size: 5em;
      margin-top: 3em;
    }
    header nav ul {
      gap: 3rem;
    }
    #Experience ul {
      flex-direction: column;
    }

    #Skills ul {
      display: flex;
      justify-content: space-around;
    }

    #Connect ul {
      justify-content: flex-end;
    }
  }
}
