/*========================*/
/*MOBILE*/
/*========================*/
body {
  background-color: rgb(156, 153, 153);
  color: azure;
  font-family: "Academy Engraved LET", Tahoma;
}

h1 {
  text-align: center;
  font-size: 3em;
  color: rgb(4, 26, 54);
}

section {
  margin: 1.25rem; /* space between sections */
  padding: 1.25rem; /* space around each section*/
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
}

nav ul a {
  font-size: 1.5em;
  text-decoration: none;
  color: darkgreen;
  padding: 0.25rem 0.15rem;
  background-color: rgb(232, 227, 221);
  border-radius: 0.625rem;
}

#About {
  text-align: center;
}

#Experience ul {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  gap: 0.25rem;
  flex-direction: column;
  list-style-type: none;
}

#Skills ul {
  list-style-type: none;
  padding: 0;
}

#Projects ul {
  list-style-type: none;
  padding: 0;
}

#Connect a {
  color: darkcyan;
  text-decoration: underline;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

/*========================*/
/*TABLET*/
/*========================*/
@media (min-width: 768px) {
  h1 {
    font-size: 4em;
    margin-top: 2em;
  }
  header nav ul {
    gap: 3rem;
  }
  /*========================*/
  /*DESKTOP*/
  /*========================*/
  @media (min-width: 1024px) {
    h1 {
      font-size: 5em;
      margin-top: 3em;
    }
    header nav ul {
      gap: 4rem;
    }
  }
}
